beautifulsoup4==4.12.3
numpy==1.26.4
python-dotenv==1.0.1
pyttsx3==2.98
pywhatkit==5.4
PyYAML==6.0.2
RealtimeSTT==0.3.93
torch==2.5.0+cu124
torchaudio==2.5.0+cu124
torchvision==0.20.0+cu124
transformers==4.46.0
yfinance==0.2.44
aiohttp==3.10.11